body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #f1f1f1;
  color: #333;
}

h1, h2 {
  color: #2e8b57;
}

.exercise {
  background: #fff;
  border-left: 5px solid #2e8b57;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

  .exercise img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.btn-home {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #2e8b57;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(42, 122, 226, 0.5);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.btn-home:hover {
  background-color: #1e5d3b;
  box-shadow: 0 5px 12px rgba(31, 91, 184, 0.7);
}